@CHARSET "ISO-8859-1";



#Light{
	float-left:33%;
	font-family: palatino, serif;
	font-style: italic;
	font-size: 24pt;
	color:rgb(84,61,23);
	outline-style: none;
	background-color:rgb(244,237,223);
	border: 5px solid;
	padding: 100px;
	height: 300px;
	width: 300px;
	border-radius: 150px ;
	moz-border-radius: 125px;
	webkit-border-radius: 125px;
}	

#Medium{
	float-left: 33%;
	font-family: palatino, serif;
	font-style: italic;
	font-size: 24pt;
	color:rgb(73,54,31);
	outline-style: none;
	background-color:rgb(158,134,86);
	border: 5px solid;
	padding: 75px;
	height: 300px;
	width: 300px;
	border-radius: 150px ;
	moz-border-radius: 125px;
	webkit-border-radius: 125px;
}
#Dark{
	float:left,33%;
	font-family: palatino, serif;
	font-style: italic;
	font-size: 24pt;
	color:rgb(244,237,223);
	outline-style: none;
	background-color:rgb(84,61,23);
	border: 5px solid;
	border-color:rgb(84,61,23);
	padding: 100px;
	height: 300px;
	width: 300px;
	border-radius: 150px ;
	moz-border-radius: 125px;
	webkit-border-radius: 125px;
	
}
div.strength{
	float: left;
	text-align: center;
}
select{
	font-size:18pt;
}

div{
	font-size:18pt;
}

button:hover{
cursor:pointer
}